<li class="nav-item">
    <a class="nav-link scroll-link" href="/about">About</a>
</li>
<li class="nav-item">
    <a class="nav-link scroll-link" href="/register">Sign Up</a>
</li>
<li class="nav-item">
    <a class="nav-link scroll-link" href="/login">Login</a>
</li>
<li class="nav-item">
    <a class="nav-link scroll-link" href="/submissions">Submissions</a>
</li>
<div class="radio">
    <label><input type="radio" name="optradio" id="food">Food</label>
</div>
<div class="radio">
    <label><input type="radio" name="optradio" id="drink">Drink</label>
</div>
<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>