<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          Add Drink
        </div>

        <div class="card-body">
          <form action="" method="POST" role="form">
            <div class="form-group">
              <label for="">Name</label>
              <input type="text" class="form-control" id="Name" placeholder="">
            </div>
            <div class="form-group">
              <label for="">Category</label>
              <input type="text" class="form-control" id="Category" placeholder="">
            </div>
            <div class="form-group">
              <label for="">Alcoholic</label>
              <input type="text" class="form-control" id="Alcoholic" placeholder="">
            </div>
            <div class="form-group">
              <label for="">Instructions</label>
              <input type="text" class="form-control" id="Instructions" placeholder="">
            </div>
            <div class="form-group">
              <label for="">Ingredients</label>
              <input type="text" class="form-control" id="Ingredients" placeholder="">
            </div>
            <div class="form-group">
              <label for="">Measurements</label>
              <input type="text" class="form-control" id="Measurements" placeholder="">
            </div>
            <div class="form-group">
              <label for="">Image URL</label>
              <input type="text" class="form-control" id="Image" placeholder="">
            </div>
          </form>
          <br>
          <div class="text-right">
            <button type="submit" class="btn btn-primary btn-md" id="add-btn">
              <span class="fa fa-book"></span> Add a Drink</button>
          </div>
        </div>
