{{>navbar}}


<section class="banner-area banner-area2 discussion-page text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1><i>Food discussion</i></h1>
            </div>
        </div>
    </div>
</section>



<div class="container-sub">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1 id="top-food-header">Top food options <i id="food"
                                        class="fas fa-pizza-slice"></i></h1>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-8">
                                <a id="image-link1" target="_blank" href="">
                                    <img class="food-thumbnail" id="food-thumbnail1">
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a id="food-name-link1" target="_blank" href="">
                                    <h1>
                                        <span class="food-name" id="food-name1"></span>
                                    </h1>
                                </a>
                                <hr>
                                <p>
                                    Description: <span class="food-title" id="food-title1"></span>
                                    <br>
                                    <span class="food-desc" id="food-desc1"></span>
                                </p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-8">
                                <a id="image-link2" target="_blank" href="">
                                    <img class="food-thumbnail" id="food-thumbnail2">
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a id="food-name-link2" target="_blank" href="">
                                    <h1>
                                        <span class="food-name" id="food-name2"></span>
                                    </h1>
                                </a>
                                <hr>
                                <p>
                                    Description: <span class="food-title" id="food-title2"></span>
                                    <br>
                                    <span class="food-desc" id="food-desc2"></span>
                                </p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-8">
                                <a id="image-link3" target="_blank" href="">
                                    <img class="food-thumbnail" id="food-thumbnail3">
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a id="food-name-link3" target="_blank" href="">
                                    <h1>
                                        <span class="food-name" id="food-name3"></span>
                                    </h1>
                                </a>
                                <hr>
                                <p>
                                    Description: <span class="stream-title" id="stream-title3"></span>
                                    <br>
                                    <span class="food-desc" id="food-desc3"></span>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

<br>
<br>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1 id="top-streams-header">Top drink options <i id="food"
                                        class="fas fa-glass-martini"></i></h1>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-8">
                                <a id="image-link1" target="_blank" href="">
                                    <img class="drink-thumbnail" id="drink-thumbnail1">
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a id="drink-name-link1" target="_blank" href="">
                                    <h1>
                                        <span class="drink-name" id="drink-name1"></span>
                                    </h1>
                                </a>
                                <hr>
                                <p>
                                    Description: <span class="drink-title" id="drink-title1"></span>
                                    <br>
                                    <span class="drink-desc" id="drink-desc1"></span>
                                </p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-8">
                                <a id="image-link2" target="_blank" href="">
                                    <img class="drink-thumbnail" id="drink-thumbnail2">
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a id="drink-name-link2" target="_blank" href="">
                                    <h1>
                                        <span class="drink-name" id="drink-name2"></span>
                                    </h1>
                                </a>
                                <hr>
                                <p>
                                    Description: <span class="drink-title" id="drink-title2"></span>
                                    <br>
                                    <span class="drink-desc" id="drink-desc2"></span>
                                </p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-8">
                                <a id="image-link3" target="_blank" href="">
                                    <img class="drink-thumbnail" id="drink-thumbnail3">
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a id="drink-name-link3" target="_blank" href="">
                                    <h1>
                                        <span class="drink-name" id="drink-name3"></span>
                                    </h1>
                                </a>
                                <hr>
                                <p>
                                    Description: <span class="drink-title" id="drink-title3"></span>
                                    <br>
                                    <span class="drink-desc" id="drink-desc3"></span>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    </div>


                    {{>footer}}