.list-group-item {
  line-height: 2.5;
}


/*Honme container*/


.home-content {
  padding: 310px 0;
  background-image: url(../images/foodcontainer2.jpg);
  background-size: 100%;
}

.home-content .text {
  color: rgb(255, 255, 255);
}

.home-content .text h1 {
  margin-top: 25px;
  color: rgb(253, 253, 253);
}

.home-content .description {
  margin: 30px 0 10px 0;
  color: rgb(255, 255, 255);
}

.home-content .description p {
  
}

.home-content .top-big-link {
  margin-top: 45px;
}

/*Login*/


.login-dark {
  height:802px;
  background: url("../images/login.jpg") no-repeat left;
  background-size:cover;
  border:none;
  background-attachment: fixed;
}

.login-dark form {
  max-width:320px;
  width:90%;
  background-color:#fff;
  padding:40px;
  border-radius:4px;
  -webkit-transform:translate(-50%, -50%);
          transform:translate(-50%, -50%);
  position:absolute;
  top:45%;
  left:50%;
  color:#000;
  -webkit-box-shadow:3px 3px 4px rgba(0,0,0,0.2);
          box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}

.login-dark .illustration {
  text-align:center;
  padding:15px 0 20px;
  font-size:100px;
  color:#000;
}

.login-dark form .form-control {
  background:none;
  border:none;
  border-bottom:1px solid #434a52;
  border-radius:0;
  -webkit-box-shadow:none;
          box-shadow:none;
  outline:none;
  color:inherit;
}

.login-dark form .btn-primary {
  background:#000;
  border:none;
  border-radius:4px;
  padding:11px;
  -webkit-box-shadow:none;
          box-shadow:none;
  margin-top:26px;
  text-shadow:none;
  outline:none;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
  background:#3fb5c5;
  outline:none;
}

.login-dark form .forgot {
  display:block;
  text-align:center;
  font-size:12px;
  color:#000;
  opacity:0.9;
  text-decoration:none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
  opacity:1;
  text-decoration:none;
}

.login-dark form .btn-primary:active {
  -webkit-transform:translateY(1px);
          transform:translateY(1px);
}

/*Navbar*/

.navbar {
  background: cornsilk;
  -o-transition: all .6s;
  -moz-transition: all .6s;
  -webkit-transition: all .6s;
  -ms-transition: all .6s;
  transition: all .6s;
  backface-visibility: hidden;
  padding-bottom: 100px 100px !important;
}

.navbar.navbar-no-bg {
  
  background: rgba(0, 0, 0, 0.2);
  padding-bottom: 100px 100px !important;
}

.navbar-dark .navbar-nav {
  font-size: 15px;
  color: #fff;
  font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus {
  color: #fff;
  outline: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}

/*About container*/

.about-container {
  background-color: rgb(255, 255, 255);
}

.about-box {
  padding-top: 30px;
  text-align: left;
  
}

.about-box .about-box-icon {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  font-size: 40px;
  color: #fff;
  line-height: 80px;
  text-align: center;
  border-radius: 28px;
  background: #9b59b6; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffb24b 0%, #9b59b6 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  #ffb24b 0%,#9b59b6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffb24b 0%,#9b59b6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffb24b 0%,#9b59b6 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffb24b 0%,#9b59b6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb24b', endColorstr='#9b59b6',GradientType=0 ); /* IE6-9 */
}

.about-box h3 {
  margin-top: 0;
  padding: 0 0 10px 0;
}

/*Sign-up*/
.form-container {
  width: 60%;
  margin: auto;
}
/*Frontpage submissions*/

.jumbotron {
  background-image: url("../images/background1.jpg");
  background-size: 100%;
}
.container-sub {
  background-image: url("../images/background1.jpg");
}

/*profile*/

.container-fluid {
  background-color: grey;
}

/*submissions*/

.banner-area2 {
  padding: 210px 0 160px;
  background-image: url("../images/foodcontainer2.jpg");
  background-size: 100%;
  z-index: 1;
  
  
}

.banner-area2:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 7, 16, 0.7);
  z-index: -1
}

.banner-area2 h1 {
  color: rgb(255, 255, 255)
}

/*footer*/


#footer {
  background-color: #373a48;
  color:white;
}

#footer .footer-copyright{
  background-color: #383737;
  padding-top:3px;
  padding-bottom:3px;
  text-align: center;
}

#footer .footer-copyright p{
  margin:10px;
  color: #ccc;
}

#footer ul{
  list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#footer h5{
  font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#footer a{
  color:#d2d1d1;
  text-decoration: none;
}

#footer a:hover, #myFooter a:focus{
  text-decoration: none;
  color:white;
}

#footer .myCols{
  text-align: center;
  background-color: #373a48;
}

#footer .myColsrow{
  background-color: #373a48;
  width: 100%;
  margin-top: -20px;
}




